openapi: 3.2.0
info:
  title: marginalia public Keys API
  version: 0.1.7
  description: Public read + chat API for marginalia (https://marginalia.polycode.co.uk). No auth today; the API is public. Generated from route-descriptors.mjs.
  license:
    name: AGPL-3.0-only
servers:
- url: https://marginalia.polycode.co.uk
  description: production
- url: https://ci-{slug}.marginalia.polycode.co.uk
  description: CI branch
  variables:
    slug:
      default: main
tags:
- name: Keys
paths:
  /api/keys:
    post:
      operationId: postKeys
      summary: (Tier-1, logged-in) Provision a private graph + mint an API key (shown once).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      tags:
      - Keys
    get:
      operationId: getKeys
      summary: (Tier-1) List the caller's private graphs + their API-key metadata (hash…
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      tags:
      - Keys
  /api/keys/whoami:
    get:
      operationId: whoamiKey
      summary: (X-API-Key) Which graph does this key resolve to?
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      tags:
      - Keys
